body[for="html-export"] {
    background-color: rgb(231, 233, 236) !important;
}

.markdown-preview {
    --system-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans SC", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --normal-font-family: 'Segoe UI';
    --code-font-family: 'Cascadia Code';
    --fig-font-family: 'Cascadia Code';
    --h1-font-family: 'Luna ITC', 'FZZhengHeiS-R-GB';
    --h2-font-family: 'Raleway', 'FZZhengHeiS-R-GB';
    --h3-font-family: 'Raleway', 'FZZhengHeiS-R-GB';
    --h4-font-family: var(--default-font-family);
    --special-symbol-font-family: 'Noto Sans Symbols2';

    --p-fontsize: 17;
    --table-fontsize: 15;
    --fig-fontsize: 14;
    --blockquote-fontsize: 16;

    --resource-dir: 'E:\\Pictures\\Markdown'; // set it yourself

    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(23, 23, 23);
    border-bottom-color: rgb(23, 23, 23);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: rgb(23, 23, 23);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(23, 23, 23);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(23, 23, 23);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    display: block;
    font-family: var(--normal-font-family);
    font-size: calc(var(--p-fontsize) * 1px);
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 936px !important;
    margin: 0px 0px 0px 0px !important;
    padding: 40px 40px 40px 40px !important;
    width: auto;
    word-spacing: 1px;
    overflow-x: hidden !important;

    mybr {
        display: block;
        padding-bottom: 0px !important;
    }

    h1 {
        counter-reset: header_two 0;
        box-sizing: border-box;
        color: rgb(32, 32, 36);
        font-family: var(--h1-font-family);
        font-size: 52px;
        font-weight: 500;
        height: auto;
        line-height: normal;
        letter-spacing: normal;
        margin: 120px 0px 60px 0px;
        padding: 0 0 0 0;
        overflow-x: hidden;
        overflow-y: hidden;
        text-align: center;
        vertical-align: middle;
        width: auto;
        word-spacing: 4px;
        z-index: 0 !important;
    }

    h2 {
        border-bottom: 0.1rem solid rgb(200, 200, 200) !important;
        counter-reset: header_three 0 fig_num 0;
        counter-increment: header_two;
        display: block;
        font-family: var(--h2-font-family);
        font-size: 30px;
        font-weight: normal;
        margin: 200px 0px 40px 0px;
        text-overflow: ellipsis;
        text-align: left;
        width: auto;
        word-spacing: 1px !important;
        white-space: nowrap;
        list-style: decimal;
        list-style-position: inside;
        line-height: 100%;
        opacity: 0.999999;

        &:nth-of-type(1) {
            margin-top: 120px;
        }

        // &:before {
        //     content: "";
        //     width: 36px;
        //     position: absolute;
        //     margin-top: 14px !important;
        //     left: -4px;
        //     height: 8px;
        //     background-image: linear-gradient(to right, rgb(23, 23, 23) 0%, rgb(23, 23, 23) 74%, transparent 0%);
        //     background-size: 13px 2px;
        //     background-repeat: repeat-x;
        // }

        // &:after {
        //     content: "";
        //     width: 100%;
        //     position: absolute;
        //     margin-top: 14px !important;
        //     margin-left: 8px;
        //     height: 8px;
        //     background-image: linear-gradient(to right, rgb(23, 23, 23) 0%, rgb(23, 23, 23) 74%, transparent 0%);
        //     background-size: 13px 2px;
        //     background-repeat: repeat-x;
        // }
    }

    h3 {
        counter-reset: header_four;
        counter-increment: header_three;
        color: rgb(23, 23, 23);
        font-family: var(--h3-font-family);
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: 500;
        height: auto;
        letter-spacing: normal;
        margin: 80px 0px 12px 0px !important;
        text-overflow: ellipsis;
        width: auto;
        opacity: 0.999999;

        &:before {
            content: counter(header_two) "." counter(header_three);
            font-family: var(--h2-font-family) !important;
            margin-right: 12px;
            position: relative;
            z-index: -1;
        }
    }

    h4 {
        counter-increment: header_four;
        border-top: none;
        border-bottom: none;
        border-right: none;
        box-sizing: border-box;
        color: rgb(23, 23, 23);
        font-size: calc(((var(--p-fontsize) + 1)) * 1px);
        font-stretch: normal;
        font-style: normal;
        font-family: var(--h4-font-family);
        font-variant-caps: normal;
        font-weight: 500;
        height: auto;
        letter-spacing: normal;
        padding: 0px 0px 0px 0px;
        margin: 32px 0px 0px 0px;
        text-overflow: ellipsis;
        width: auto;
        word-spacing: normal;
        opacity: 0.999999;

        &:before {
            border-radius: 8px;
            content: counter(header_two) "." counter(header_three) "." counter(header_four);
            font-family: var(--h2-font-family) !important;
            font-size: calc(((var(--p-fontsize) + 4)) * 1px);
            margin-right: 8px;
            position: relative;
            z-index: -1;
        }
    }

    h5 {
        border-style: solid;
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
        border-left-color: rgb(175, 207, 72);
        border-left-width: 4px;
        box-sizing: border-box;
        color: rgb(23, 23, 23);
        font-size: calc((var(--p-fontsize)) * 1px);
        font-stretch: normal;
        font-style: normal;
        font-family: var(--default-font-family);
        font-variant-caps: normal;
        font-weight: normal;
        height: auto;
        letter-spacing: normal;
        padding: 0px 0px 0px 10px !important;
        margin: 24px 0px 0px 0px !important;
        text-overflow: ellipsis;
        width: auto;
        word-spacing: normal;
    }

    hlist {
        display: block;
        padding-left: 40px;

        h6 {
            color: rgb(23, 23, 23);
            display: list-item;
            list-style-type: disc;
            list-style-position: outside;
            margin-left: 0px;
            font-weight: 400;
        }
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a {
        font-size: 18px;
    }

    a {
        color: rgb(26, 115, 232) !important;
        // color: #0084d0 !important;
        border-bottom: none;
    }

    a:hover {
        text-decoration: underline rgb(26, 115, 232) !important;
    }

    p {
        margin: 16px 0px 0px 0px !important;
        padding: 0 0 0 0 !important;
        line-height: 160%;
        // overflow: auto;
    }

    p::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0;
    }

    hr {
        height: 1px;
        border: 0;
        padding-top: 1px;
        background: linear-gradient(to right, transparent, #d0d0d5, transparent);
    }

    .hr-twill-colorful {
        border: 0;
        height: 1px;
        padding: 3px;
        background: linear-gradient(135deg, red, orange, green, blue, purple);
        --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
        -webkit-mask-image: var(--mask-image);
        mask-image: var(--mask-image);
    }

    table {
        display: table;
        margin: 16px 0px 0px 0px;
        table-layout: auto;
        border-collapse: collapse;
        border-color: rgb(210, 210, 210) !important;
        font-family: var(--default-font-family);
        font-size: calc(var(--table-fontsize) * 1px);
        width: 100% !important;

        strong,
        def {
            font-size: calc(var(--table-fontsize) * 1px);
        }

        .katex {
            font-size: calc((var(--table-fontsize) + 2) * 1px);
        }

        span[class="mord cjk_fallback"] {
            font-size: calc(var(--table-fontsize) * 1px);
        }

        code {
            font-size: calc((var(--table-fontsize) - 2) * 1px) !important;
            word-wrap: normal;
            word-break: keep-all;
        }

        thead {
            display: none;
            border: 0.07rem solid rgb(210, 210, 210) !important;

            th {
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        tbody {
            border-style: solid;
            border-bottom: none;
            border-width: 1pt;

            td {
                // border-color: red;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom-width: 1pt !important;
                border-color: rgb(210, 210, 210) !important;

                padding-top: 11px;
                padding-bottom: 11px;

                word-break: normal;
                word-wrap: break-word;

                .img {
                    margin: 8px 0px 8px 0px;
                }
            }

            tr td:first-child {
                width: 33%;
                word-break: break-all;
            }
        }
    }

    htable {
        thead {
            border-width: 0.08rem !important;
            display: table-row-group;
            width: 100%;
            height: 40px;
            text-align: left;
            font-size: calc(var(--table-fontsize) * 1px);
            font-family: var(--default-font-family);
            font-weight: bolder;

            .katex {
                font-size: calc((var(--table-fontsize) + 2) * 1px);
            }

            span[class="mord cjk_fallback"] {
                font-size: calc(var(--table-fontsize) * 1px);
            }
        }

        tbody {
            tr td:first-child {
                width: auto;
                word-break: break-all;
            }
        }
    }

    .onetotwo-column {

        td:first-child,
        th:first-child {
            width: 33% !important;
            word-break: break-all;
        }
    }

    dtable {
        table tr td:first-child {
            width: 50%;
        }
    }

    ttable {
        table tr td {
            width: 33%;
        }

        table tr td:first-child {
            width: 33% !important;
        }
    }

    ctable {
        thead {
            border-width: 0.08rem !important;
            display: table-row-group;
            width: 100% !important;
            height: 40px;
            text-align: left;
            font-size: calc(var(--table-fontsize) * 1px);
            font-family: var(--default-font-family);

            th {
                font-weight: normal !important;
            }

            .katex {
                font-size: calc((var(--table-fontsize) + 2) * 1px);
            }

            span[class="mord cjk_fallback"] {
                font-size: calc(var(--table-fontsize) * 1px);
            }
        }

        tbody {
            tr td:first-child {
                width: auto !important;
                word-break: break-all;
            }
        }
    }

    step-table {
        table tr td {
            width: 40%;
        }

        table tr th:first-child {
            width: 3% !important;
            border-right: 0.07rem solid rgb(210, 215, 223) !important;
        }

        table tr td:first-child {
            width: 3% !important;
            border-right: 0.07rem solid rgb(210, 215, 223) !important;
        }
    }

    u {
        text-underline-offset: 2px;
    }

    strong,
    def {
        font-family: var(--default-font-family);
        font-weight: 600;
    }

    strong {
        // color: #c91010;
        color: #c93b10;
        // color: #CA1243;
        // border-bottom: 0.12rem solid;
    }

    def {
        // color: rgb(57, 135, 33);
        color: rgb(16, 135, 16);
    }

    mark {
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: rgb(56, 175, 255);
    }

    ul {
        list-style: disc;
    }

    ol,
    ul {
        padding-left: 40px;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    li {
        box-sizing: border-box;
        color: rgb(23, 23, 23);
        display: list-item;
        font-weight: normal;
        margin: 16px 0px 0px 0px;
        text-align: left;
        line-height: 160%;

        br {
            display: block !important;
            line-height: 16px !important;
            height: 16px !important;
        }

        blockquote:nth-of-type(odd),
        .warning:nth-of-type(odd) {
            border-radius: 10px 10px 10px 10px;
            margin-top: 16px;
            margin-bottom: 16px;
            border-width: 0 0 0 0 !important;
            margin-left: 0 !important;
        }

        blockquote:nth-of-type(even),
        .warning:nth-of-type(even) {
            border-radius: 10px 10px 10px 10px;
            margin-top: 16px;
            margin-bottom: 16px;
            border-width: 0 0 0 0 !important;
            margin-right: 0 !important;
        }
    }

    ul li::marker {
        font-size: calc((var(--p-fontsize) - 1) * 1px) !important;
    }

    ol li::marker {
        font-size: calc((var(--p-fontsize)) * 1px) !important;
    }

    img {
        margin: 0px 0px 0px 0px;
        word-spacing: normal;
    }

    .img {
        /* 防止 margin 塌陷 */
        width: 100%;
        display: inline-block;
        margin: 24px 0px 24px 0px;
        font-family: var(--fig-font-family);
    }

    fig {
        font-family: var(--fig-font-family);
        font-size: calc(var(--fig-fontsize) * 1px) !important;
        font-weight: 900;

        .katex {
            font-size: calc((var(--fig-fontsize) + 2) * 1px);
        }

        span[class="mord cjk_fallback"] {
            font-family: var(--fig-font-family);
            font-weight: 900;
            font-size: calc((var(--fig-fontsize) + 1) * 1px);
        }
    }

    fig:before {
        counter-increment: fig_num;
        content: "Fig " counter(header_two) "-" counter(fig_num) ".";
        word-spacing: 0px !important;
        margin-right: 10px;
        // font-weight: 900;
    }

    code {
        background-color: rgb(237, 239, 240);
        border-radius: 0px;
        // color: rgb(37, 41, 46);
        color: rgb(23, 23, 23);
        // direction: ltr;
        display: inline;
        font-family: var(--code-font-family) !important;
        font-size: calc((var(--p-fontsize) - 1) * 1px) !important;
        font-stretch: normal;
        font-weight: normal;
        height: auto;
        line-height: auto;
        list-style-position: outside;
        list-style-type: disc;
        padding-bottom: 1px;
        padding-top: 1px;
        text-align: left;
        tab-size: 4 !important;
        unicode-bidi: isolate;
        width: auto;
        word-break: break-all;
        word-wrap: break-word;
    }

    pre[data-role="codeBlock"],
    pre[class="language-text"] {
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-color: rgb(241, 243, 244);
        border-bottom-color: rgb(23, 23, 23);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-left-color: rgb(23, 23, 23);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(23, 23, 23);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(23, 23, 23);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        clear: both;
        color: rgb(23, 23, 23);
        direction: ltr;
        display: block;
        font-family: var(--code-font-family) !important;
        font-size: 15px !important;
        font-stretch: normal;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: 400;
        line-height: 24px;
        margin-block-end: 16px;
        margin-block-start: 16px;
        margin-bottom: 16px;
        margin-inline-end: -40px;
        margin-inline-start: -40px;
        margin: 16px -40px 0px -40px !important;
        padding: 21px 40px 21px 40px;
        tab-size: 4 !important;
        word-spacing: normal;
    }

    pre[data-role="codeBlock"],
    pre[class="language-text"] {
        color: #383A42;

        .keyword {
            color: #A626A4;
        }

        .namespace,
        .class-name {
            color: #C18401;
        }

        .function {
            color: #4078F2;
        }

        .boolean,
        .number {
            color: #A76300;
        }

        .string {
            color: #50A14F;
        }

        .operator {
            color: #383A42;
        }
    }

    pre[data-role="codeBlock"] code,
    pre[class="language-text"] code {
        border-width: 0;
        background-color: rgba(0, 0, 0, 0);
        font-family: var(--code-font-family) !important;
        font-weight: 400;
        font-size: calc((var(--p-fontsize) - 1) * 1px) !important;
        tab-size: 4 !important;
    }

    li pre[data-role="codeBlock"],
    li pre[class="language-text"] {
        padding-left: 26px !important;
        padding-right: 26px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    ref {
        display: block;
        font-style: italic;
        padding: 0 0 0 0;
        margin: 42px 56px 16px 56px;
        border-left: none;
        background-color: rgba(0, 0, 0, 0);
        color: inherit;
    }

    ref::before {
        content: "\"";
        color: rgba(44, 44, 44, 0.6);
        position: absolute;
        left: 50px;
        margin-top: 7px;
        font-size: 50px;
        font-family: 'Vintama Shadow';
        font-style: normal;
        // z-index: -1;
    }

    ref refsrc a {
        display: block;
        border: none;
        margin-top: 16px;
        text-align: right;
    }

    ref refsrc a::before {
        content: "-- ";
        font-family: var(--code-font-family);
    }

    blockquote,
    .warning {
        border-width: 2px 2px 2px 2px;
        border-style: solid;
        display: block;
        font-size: calc(var(--blockquote-fontsize) * 1px);
        padding: 20px 30px 20px 30px;
        margin-top: 28px;
        margin-bottom: 34px;
        z-index: 1 !important;

        p {
            display: block;
            z-index: 3 !important;
        }

        .katex {
            font-size: calc((var(--blockquote-fontsize) + 2) * 1px);
        }

        span[class="mord cjk_fallback"] {
            font-size: calc((var(--blockquote-fontsize) + 1) * 1px);
        }

        :nth-child(1) {
            margin-top: 0px !important;
        }

        :nth-last-child(1) {
            margin-bottom: 0px !important;
        }

        &:nth-of-type(odd) {
            border-radius: 0px 10px 10px 0px;
            padding-left: 50px;
            margin-left: -50px;
            margin-right: 33%;
        }

        &:nth-of-type(even) {
            border-radius: 10px 0px 0px 10px;
            padding-left: 40px;
            padding-right: 50px;
            margin-left: 33%;
            margin-right: -50px;
        }
    }

    .warning {
        color: rgb(191, 54, 12);
        box-shadow: rgba(103, 12, 26, 0.2) 4px 8px 4px -1px, rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
        background-color: rgba(254, 225, 229, 0.3);
        border-color: rgb(232, 171, 149, 0.385);
        opacity: 0.999999;

        strong {
            text-decoration: underline
        }

        &:nth-of-type(odd) {
            p:first-of-type {
                &::before {
                    content: "WARNING";
                    font-size: 50px;
                    font-family: 'Vintama Shadow';
                    color: rgba(148, 28, 44, 0.08);
                    left: calc(67% - 354px);
                    margin-top: 7px;
                    position: absolute;
                    z-index: -1 !important;
                }
            }
        }

        &:nth-of-type(even) {
            p:first-of-type {
                &::before {
                    content: "警告";
                    font-size: 50px;
                    font-family: 'Vintama Shadow';
                    color: rgba(148, 28, 44, 0.08);
                    right: 0px;
                    margin-top: 5px;
                    font-weight: bolder;
                    position: absolute;
                    letter-spacing: 4px;
                    z-index: -1 !important;
                }
            }
        }
    }

    blockquote {
        color: rgb(1, 87, 155);
        box-shadow: rgba(10, 49, 93, 0.2) 4px 8px 4px -1px, rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
        background-color: rgba(225, 245, 254, 0.3);
        border-color: rgba(28, 84, 148, 0.385);
        opacity: 0.999999;

        &:nth-of-type(odd) {
            p:first-of-type {
                &::before {
                    content: "NOTE";
                    font-size: 50px;
                    font-family: 'Vintama Shadow';
                    color: rgba(28, 84, 148, 0.08);
                    left: 12px;
                    margin-top: 7px;
                    position: absolute;
                    z-index: -1 !important;
                }
            }
        }

        &:nth-of-type(even) {
            p:first-of-type {
                &::before {
                    content: "注記";
                    font-size: 46px;
                    font-family: 'Vintama Shadow';
                    color: rgba(28, 84, 148, 0.08);
                    left: calc(33% + 26px);
                    margin-top: 5px;
                    font-weight: bolder;
                    position: absolute;
                    letter-spacing: 4px;
                    z-index: -1 !important;
                }
            }
        }
    }

    .katex-display {
        margin: 20px 0px 0px 0px !important;
        font-size: calc((var(--p-fontsize)) * 1px) !important;
        max-width: 100% !important;
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        hyphens: auto !important;
    }

    .katex {
        font-size: calc((var(--p-fontsize) - 1) * 1px);
        // font-family: KaTeX_Main, var(--normal-font-family);
        font-family: 'Fira Code', var(--normal-font-family);
        font-weight: 400;
        max-width: 100% !important;
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        hyphens: auto !important;

        .mord {
            font-family: 'Fira Code', var(--normal-font-family);
            font-weight: 400;
            font-style: normal;

            .boldsymbol {
                font-weight: 600;
            }
        }

        .mrel {
            /* 特殊符号 */
            font-family: KaTeX_Main, var(--normal-font-family);
            font-size: 20px;
        }

        .cjk_fallback:before {
            content: " ";
        }

        .cjk_fallback:after {
            content: " ";
        }
    }

    compressList li {
        margin: 0 0 0 0;
    }

    .horizontalScrollable {
        overflow-x: auto;
        overflow-y: hidden !important; // NOTE Don't know why here may lead to vertical-scroll arise in some case (e.g. latex block)
    }

    summary {
        cursor: pointer;
        width: fit-content;
        font-size: calc((var(--p-fontsize) - 2) * 1px);
        line-height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 14px;
        font-family: 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;

        color: #fff;
        background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
        background-origin: border-box;
        box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        transition: filter 0.1s ease, transform 0.1s ease;
    }

    summary:hover {
        filter: brightness(1.1);
    }

    summary:active {
        filter: brightness(0.8);
        // transform: translateY(1px);
    }

    summary:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }

    details {
        margin: 16px 8px 0px 0px;
        line-height: 160%;
        display: inline-block;
        border: 2px transparent solid;
    }

    details[open] {
        margin-top: 24px;
        margin-left: 8px;
        padding: 40px 40px 40px 40px;
        display: inline-block;
        width: calc(100% - 100px);
        border: 2px rgb(63, 63, 63) solid;
        border-radius: 8px;

        :nth-child(2) {
            /* summary 下的第一个元素 */
            margin-top: 0px !important;

            :nth-child(1) {
                margin-top: 0px !important;
            }
        }

        :nth-last-child(1) {
            margin-bottom: 0px !important;
        }

        summary {
            position: absolute;
            margin-top: -48px;
            margin-left: -48px;
        }
    }

    summary::marker {
        content: none;
    }
}
