// TODO re-design blockquote/warning block and details block

body[for="html-export"] {
    background-color: rgb(231, 233, 236) !important;
}

.markdown-preview {
    --system-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans SC", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --normal-font-family: 'Segoe UI';
    --code-font-family: 'Cascadia Code';
    --fig-font-family: 'Cascadia Code';
    --h1-font-family: 'Luna ITC', 'FZZhengHeiS-R-GB';
    --h2-font-family: 'LXGW WenKai';
    --h3-font-family: 'LXGW WenKai Mono';
    --h4-font-family: 'Segoe UI';
    // --h4-font-family: 'Microsoft Yahei';
    --special-symbol-font-family: 'Noto Sans Symbols2';

    --p-fontsize: 17;
    --table-fontsize: 17;
    --fig-fontsize: 14;
    --blockquote-fontsize: 16;

    --resource-dir: 'E:\\Pictures\\Markdown'; // set it yourself

    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(23, 23, 23);
    border-bottom-color: rgb(23, 23, 23);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: rgb(23, 23, 23);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(23, 23, 23);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(23, 23, 23);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    display: block;
    font-family: var(--normal-font-family);
    font-size: calc(var(--p-fontsize) * 1px);
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 936px !important;
    margin: 0px 0px 0px 0px !important;
    padding: 40px 40px 40px 40px !important;
    width: auto;
    word-spacing: 1px;

    mybr {
        display: block;
        padding-bottom: 0px !important;
    }

    counter-reset: header_two;

    h1 {
        counter-reset: fig_num;
        box-sizing: border-box;
        color: rgb(32, 32, 36);
        font-family: var(--h1-font-family);
        font-size: 54px;
        font-weight: 500;
        height: auto;
        line-height: normal;
        letter-spacing: normal;
        margin: 120px 0px 60px 0px;
        padding: 0 0 0 0;
        overflow-x: hidden;
        overflow-y: hidden;
        text-align: center;
        vertical-align: middle;
        width: auto;
        word-spacing: 4px;
        z-index: 0 !important;
    }

    h2 {
        // counter-reset: header_three;
        counter-reset: fig_num;
        counter-increment: header_two;
        display: block;
        font-family: var(--h2-font-family);
        font-size: 34px;
        font-weight: lighter;
        margin: 100px 0px 20px 0px;
        text-overflow: ellipsis;
        text-align: left;
        width: auto;
        word-spacing: 1px !important;
        list-style: decimal;
        list-style-position: inside;
        line-height: 100%;
    }

    h2:nth-of-type(1) {
        margin-top: 120px;
    }

    h2:before {
        content: none;
    }

    h2:after {
        content: none;
    }

    h3 {
        counter-reset: header_four;
        // box-sizing: border-box;
        color: rgb(23, 23, 23);
        font-family: var(--h3-font-family);
        font-size: 23px;
        font-stretch: normal;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: normal;
        height: auto;
        letter-spacing: normal;
        margin: 46px 0px 12px 0px !important;
        text-overflow: ellipsis;
        width: auto;
    }

    h4 {
        border-top: none;
        border-bottom: none;
        border-right: none;
        box-sizing: border-box;
        color: rgb(23, 23, 23);
        font-size: calc(((var(--p-fontsize))) * 1px);
        font-stretch: normal;
        font-style: normal;
        // font-family: var(--h4-font-family);
        font-family: var(--code-font-family);
        font-variant-caps: normal;
        font-weight: 500;
        height: auto;
        letter-spacing: normal;
        padding: 0px 0px 0px 0px;
        margin: 32px 0px 0px 0px;
        text-overflow: ellipsis;
        width: auto;
        word-spacing: normal;
    }

    h4:before {
        content: "[ ";
        word-spacing: 2px;
        font-family: var(--code-font-family);
    }

    h4:after {
        content: " ]";
        word-spacing: 0px; // MPE plugin will add a space after the last word
        font-family: var(--code-font-family);
    }

    h5 {
        border-style: solid;
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
        border-left-color: rgb(175, 207, 72);
        border-left-width: 4px;
        box-sizing: border-box;
        color: rgb(23, 23, 23);
        font-size: calc((var(--p-fontsize)) * 1px);
        font-stretch: normal;
        font-style: normal;
        font-family: var(--default-font-family);
        font-variant-caps: normal;
        font-weight: normal;
        height: auto;
        letter-spacing: normal;
        padding: 0px 0px 0px 10px !important;
        margin: 24px 0px 0px 0px !important;
        text-overflow: ellipsis;
        width: auto;
        word-spacing: normal;
    }

    h6 {
        color: red;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a {
        font-size: 18px;
    }

    a {
        color: rgb(26, 115, 232) !important;
        // color: #0084d0 !important;
        border-bottom: none;
    }

    a:hover {
        text-decoration: underline rgb(26, 115, 232) !important;
    }

    p {
        margin: 16px 0px 0px 0px !important;
        padding: 0 0 0 0 !important;
        line-height: 160%;
        // overflow: auto;
    }

    p::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0;
    }

    hr {
        // margin: 24px 0px;
        height: 1px;
        border: 0;
        padding-top: 1px;
        background: linear-gradient(to right, transparent, #d0d0d5, transparent);
    }

    .hr-twill-colorful {
        border: 0;
        height: 1px;
        padding: 3px;
        background: linear-gradient(135deg, red, orange, green, blue, purple);
        --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
        -webkit-mask-image: var(--mask-image);
        mask-image: var(--mask-image);
    }

    table {
        display: table;
        margin: 16px 0px 0px 0px;
        table-layout: auto;
        border-collapse: collapse;
        border-color: rgb(210, 210, 210) !important;
        font-family: var(--default-font-family);
        font-size: calc(var(--table-fontsize) * 1px);
        width: 100% !important;

        strong,
        def {
            font-size: calc(var(--table-fontsize) * 1px);
        }

        .katex {
            font-size: calc((var(--table-fontsize) + 2) * 1px);
        }

        span[class="mord cjk_fallback"] {
            font-size: calc(var(--table-fontsize) * 1px);
        }

        code {
            font-size: calc((var(--table-fontsize) - 2) * 1px) !important;
            word-wrap: normal;
            word-break: keep-all;
        }

        thead {
            display: none;
            border: 1px solid rgb(210, 215, 223) !important;

            th {
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        tbody {
            border: 1px solid rgb(210, 215, 223) !important;

            td {
                // border-color: red;
                border-top: none;
                border-left: none;
                border-right: none;
                border-color: rgb(210, 215, 223);

                padding-top: 11px;
                padding-bottom: 11px;

                word-break: normal;
                word-wrap: break-word;

                .img {
                    margin: 8px 0px 8px 0px;
                }
            }

            tr td:first-child {
                width: 33% !important;
                word-break: break-all;
            }
        }
    }

    htable {
        thead {
            display: table-row-group;
            width: 100% !important;
            height: 40px;
            text-align: left;
            font-size: calc(var(--table-fontsize) * 1px);
            font-family: var(--default-font-family);
            font-weight: bolder;

            .katex {
                font-size: calc((var(--table-fontsize) + 2) * 1px);
            }

            span[class="mord cjk_fallback"] {
                font-size: calc(var(--table-fontsize) * 1px);
            }
        }

        tbody {
            tr td:first-child {
                width: auto;
                word-break: break-all;
            }
        }
    }

    dtable {
        table tr td:first-child {
            width: 50%;
        }
    }

    ttable {
        table tr td {
            width: 33%;
        }

        table tr td:first-child {
            width: 33% !important;
        }
    }

    ctable {
        thead {
            border-width: 0.08rem !important;
            display: table-row-group;
            width: 100% !important;
            height: 40px;
            text-align: left;
            font-size: calc(var(--table-fontsize) * 1px);
            font-family: var(--default-font-family);

            th {
                font-weight: normal !important;
            }

            .katex {
                font-size: calc((var(--table-fontsize) + 2) * 1px);
            }

            span[class="mord cjk_fallback"] {
                font-size: calc(var(--table-fontsize) * 1px);
            }
        }

        tbody {
            tr td:first-child {
                width: auto !important;
                word-break: break-all;
            }
        }
    }

    step-table {
        table tr td {
            width: 40%;
        }

        table tr th:first-child {
            width: 3% !important;
            border-right: 0.07rem solid rgb(210, 215, 223) !important;
        }

        table tr td:first-child {
            width: 3% !important;
            border-right: 0.07rem solid rgb(210, 215, 223) !important;
        }
    }

    u {
        text-underline-offset: 2px;
    }

    strong,
    def {
        font-family: var(--default-font-family);
        font-weight: 500;
    }

    strong {
        // color: #c91010;
        color: #c93b10;
        // color: #CA1243;
        // border-bottom: 0.12rem solid;
    }

    def {
        // color: rgb(57, 135, 33);
        color: rgb(16, 135, 16);
    }

    mark {
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: rgb(56, 175, 255);
    }

    ul {
        list-style: disc;
    }

    ol,
    ul {
        padding-left: 40px;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    li {
        box-sizing: border-box;
        color: rgb(23, 23, 23);
        display: list-item;
        font-weight: normal;
        margin: 16px 0px 0px 0px;
        text-align: left;

        br {
            display: block !important;
            line-height: 16px !important;
            height: 16px !important;
        }

        blockquote:nth-of-type(odd),
        .warning:nth-of-type(odd) {
            margin-top: 16px;
            margin-bottom: 16px;
            border-width: 10px 0 0 0 !important;
            margin-left: 0 !important;
        }

        blockquote:nth-of-type(even),
        .warning:nth-of-type(even) {
            margin-top: 16px;
            margin-bottom: 16px;
            border-width: 10px 0 0 0 !important;
            margin-right: 0 !important;
        }
    }

    ul li::marker {
        font-size: calc((var(--p-fontsize) - 1) * 1px) !important;
    }

    ol li::marker {
        font-size: calc((var(--p-fontsize)) * 1px) !important;
    }

    img {
        margin: 0px 0px 0px 0px;
        word-spacing: normal;
    }

    .img {
        margin: 24px 0px 24px 0px;
        font-family: var(--fig-font-family);
    }

    fig {
        font-family: var(--fig-font-family);
        font-size: calc(var(--fig-fontsize) * 1px) !important;
        font-weight: 900;

        .katex {
            font-size: calc((var(--fig-fontsize) + 2) * 1px);
        }

        span[class="mord cjk_fallback"] {
            font-family: var(--fig-font-family);
            font-weight: 900;
            font-size: calc((var(--fig-fontsize) + 1) * 1px);
        }
    }

    fig:before {
        counter-increment: fig_num;
        content: "Fig " counter(header_two) "-" counter(fig_num) ".";
        word-spacing: 0px !important;
        margin-right: 10px;
        // font-weight: 900;
    }

    code {
        background-color: rgb(237, 239, 240);
        border-radius: 0px;
        // color: rgb(37, 41, 46);
        color: rgb(23, 23, 23);
        // direction: ltr;
        display: inline;
        font-family: var(--code-font-family) !important;
        font-size: calc((var(--p-fontsize) - 1) * 1px) !important;
        font-stretch: normal;
        font-weight: normal;
        height: auto;
        line-height: auto;
        list-style-position: outside;
        list-style-type: disc;
        padding-bottom: 1px;
        padding-top: 1px;
        text-align: left;
        tab-size: 4 !important;
        unicode-bidi: isolate;
        width: auto;
        word-break: break-all;
        word-wrap: break-word;
    }

    pre[data-role="codeBlock"],
    pre[class="language-text"] {
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-color: rgb(241, 243, 244);
        border-bottom-color: rgb(23, 23, 23);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-left-color: rgb(23, 23, 23);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(23, 23, 23);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(23, 23, 23);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        clear: both;
        color: rgb(23, 23, 23);
        direction: ltr;
        display: block;
        font-family: var(--code-font-family) !important;
        font-size: 15px !important;
        font-stretch: normal;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: 400;
        line-height: 24px;
        margin-block-end: 16px;
        margin-block-start: 16px;
        margin-bottom: 16px;
        margin-inline-end: -40px;
        margin-inline-start: -40px;
        margin: 16px -40px 0px -40px;
        padding: 21px 40px 21px 40px;
        tab-size: 4 !important;
        word-spacing: normal;
    }

    pre[data-role="codeBlock"],
    pre[class="language-text"] {
        color: #383A42;

        .keyword {
            color: #A626A4;
        }

        .namespace,
        .class-name {
            color: #C18401;
        }

        .function {
            color: #4078F2;
        }

        .boolean,
        .number {
            color: #A76300;
        }

        .string {
            color: #50A14F;
        }

        .operator {
            color: #383A42;
        }
    }

    pre[data-role="codeBlock"] code,
    pre[class="language-text"] code {
        border-width: 0;
        background-color: rgba(0, 0, 0, 0);
        font-family: var(--code-font-family) !important;
        font-weight: 400;
        font-size: calc((var(--p-fontsize) - 1) * 1px) !important;
        tab-size: 4 !important;
    }

    li pre[data-role="codeBlock"],
    li pre[class="language-text"] {
        padding-left: 24px;
        padding-right: 24px;
        margin-left: 0px;
        margin-right: 0px;
    }

    ref {
        display: block;
        font-style: italic;
        padding: 0 0 0 0;
        margin: 32px 56px 32px 56px;
        border-left: none;
        background-color: rgba(0, 0, 0, 0);
        color: inherit;
    }

    ref::before {
        content: "\"";
        color: rgba(44, 44, 44, 0.6);
        position: absolute;
        left: 50px;
        margin-top: 7px;
        font-size: 50px;
        font-family: 'Vintama Shadow';
        font-style: normal;
        // z-index: -1;
    }

    ref a {
        display: block;
        border: none;
        margin-top: 16px;
        text-align: right;
    }

    ref a::before {
        content: "-- ";
        font-family: 'Cascadia Code';
    }

    blockquote,
    .warning {
        border-style: solid;
        display: block;
        font-size: calc(var(--blockquote-fontsize) * 1px);
        // font-family: var(--default-font-family);
        padding: 4px 30px 20px 30px;
        margin-top: 32px;
        margin-bottom: 32px;

        p {
            display: block;
        }

        .katex {
            font-size: calc((var(--blockquote-fontsize) + 2) * 1px);
        }

        span[class="mord cjk_fallback"] {
            font-size: calc((var(--blockquote-fontsize) + 1) * 1px);
        }
    }

    .warning:nth-of-type(odd),
    blockquote:nth-of-type(odd) {
        border-width: 0 0 0 10px;
        margin-left: -40px;
        margin-right: 33%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .warning:nth-of-type(even),
    blockquote:nth-of-type(even) {
        border-width: 0px 10px 0px 0px;
        margin-left: 33%;
        margin-right: -40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .warning {
        background-color: #feefe3;
        border-color: rgb(232, 171, 149);
        color: #bf360c;
    }

    blockquote {
        background-color: rgb(225, 245, 254);
        border-color: rgb(148, 208, 235);
        color: #01579b;
    }

    .katex {
        font-size: calc((var(--p-fontsize) + 2) * 1px);
        font-family: KaTeX_Main, var(--normal-font-family);

        max-width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    .base {
        max-width: 100% !important;
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        hyphens: auto !important;
    }

    span[class="katex-display"] {
        margin: 20px 0px 0px 0px !important;
    }

    span[class="mord cjk_fallback"] {
        font-size: calc(var(--p-fontsize) * 1px);
    }

    span[class="mord cjk_fallback"]:before {
        content: " ";
    }

    span[class="mord cjk_fallback"]:after {
        content: " ";
    }

    compressList li {
        margin: 0 0 0 0;
    }

    .horizontalScrollable {
        overflow-x: auto;
        overflow-y: hidden !important; // NOTE Don't know why here may lead to vertical-scroll arise in some case (e.g. latex block)
    }

    summary {
        width: fit-content;
        font-weight: 600;
        font-family: var(--system-font-family);
        padding: 0px 70px 0px 70px;
        position: absolute;
        margin: -103px -40px 0px -40px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        height: 55px;
        background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);

        // position
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
        background-size: 300% 100%;
        border-radius: 50px;

        // animate
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    summary::marker {
        content: none;
    }

    summary:focus {
        outline: none;
    }

    summary:hover {
        background-position: 100% 0;
        moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;

        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    summary:active {
        transform: translateY(3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    details {
        // BUG consecutive details block
        // TODO optimize margin by modify mpe plugin, not these bad hardcode trick
        margin: 90px 0px -50px 0px;
        padding: 24px 40px 24px 40px;

        border: 4px solid transparent; // for test
    }

    details> :nth-child(2) {
        margin-top: 0px !important;
    }

    details[open] {
        margin-bottom: 60px;
        border: 4px solid transparent;
        border-radius: 16px;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(to right, #ffffffff, #ffffffff), linear-gradient(45deg, #25aae1, #4481eb, #04befe, #3f86ed);

        summary {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        summary:active {
            transform: translateY(3px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    }

    details[open]+* {
        margin-top: 16px !important;
    }
}
